body {
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-small-caps;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-weight: bold;
}

.messenger-container {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    text-align: center;
}

#messenger-name-container {
    top: 0;
    bottom: 50%;
    background-color: #ebebeb;
    color: #4559FF;
    font-size: 128px;
}

#messenger-question-container {
    top: 50%;
    bottom: 0;
    color: #ebebeb;
    background-color: #4559FF;
    font-size: 84px;
}